MONGODB_URI=
MONGODB_DB_NAME=coldstart_killer
MONGODB_TIMEOUT_MS=10000

OLLAMA_MODEL=qwen3:8b

EMBEDDING_MODEL=BAAI/bge-m3
USE_CUDA=true

EMBEDDING_STORAGE_FORMAT=list_float
DEFAULT_INDEX_LIMIT=50
M0_SAFE_LIMIT=3000
DEDICATED_FULL_LIMIT=5000

VECTOR_INDEX_NAME=vector_index
TEXT_INDEX_NAME=text_index

API_HOST=127.0.0.1
API_PORT=8000
CORS_ALLOW_ORIGINS=http://localhost:5173

DEMO_MODE=true
ENABLE_PERSONALIZATION=true
ENABLE_EVENT_LOGGING=true
ALGORITHM_VERSION=rec_v1_profile_cf_hype
RANKING_VERSION=rank_v1_default_weights
SIGNAL_MODEL_VERSION=signal_v3_intent_hierarchy
PROFILE_MODEL_VERSION=profile_v3_deliberate_weighting
CF_MODEL_VERSION=cf_v1_supported_edges
EXPLANATION_VERSION=explain_v2_profile_threshold
PROFILE_REASON_MIN_CONTRIBUTION=0.05
SIGNAL_CLICK_WEIGHT=0.35
SIGNAL_DETAIL_SHORT_MS=5000
SIGNAL_DETAIL_MEANINGFUL_MS=20000
SIGNAL_DETAIL_SHORT_WEIGHT=0.10
SIGNAL_DETAIL_MEDIUM_WEIGHT=0.50
SIGNAL_DETAIL_LONG_WEIGHT=1.25
SIGNAL_WISHLIST_WEIGHT=2.50
SIGNAL_ADD_TO_CART_WEIGHT=4.00
SIGNAL_PURCHASE_WEIGHT=7.00
SIGNAL_REPEAT_POSITIVE_BONUS=0.25
SIGNAL_REPEAT_POSITIVE_BONUS_CAP=1.50
SIGNAL_PREFERENCE_MIN_DELIBERATE_SCORE=0.50
SIGNAL_SEED_ELIGIBLE_MIN_DELIBERATE_SCORE=0.75
PROFILE_EXPLORATORY_WEIGHT=0.25
PROFILE_LABEL_MAX_LENGTH=80
EVENT_TTL_DAYS=0
